/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.
    Use as follows:
        nextflow run metaAMR-Plus -profile test_full,<docker/singularity> --outdir <OUTDIR>
----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full size test dataset to check pipeline function'

    // TODO: Replace with full-size nanopore metagenomic dataset on nf-core/test-datasets
    // input     = params.pipelines_testdata_base_path + 'metaamrplus/samplesheet_full.csv'
    // databases = params.pipelines_testdata_base_path + 'metaamrplus/database_full.csv'

    // Run all pipeline features for full test
    perform_trim            = true
    perform_hostremoval     = true
    perform_assembly        = true
    perform_polish_assembly = true
    run_abricate            = true
    run_rgi                 = true
    run_amrfinderplus       = true
    run_resfinder           = true
    run_hamronization       = true
    run_profiling           = true
    run_centrifuge          = true
    run_kaiju               = true
    run_plasmidfinder       = true
    run_plasclass           = true
    target_species          = null
}
